* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color:rgba(0, 0, 0, 0.815);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
.body{
    padding: 0 70px;
    background-image: url(/imgs/fondo2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.titulo2ynav3{
    display: flex;
    gap: 20px;
}
.titulo2{
    font-size: 45px;
    font-weight: 400;
    display: inline-block;    
}
.nav3 a{
    font-size: 20px;
    position: relative; top: 38px;
    margin: 5px;
    text-decoration: none;
    background-color: #0a209bf3;
    color: #fdfcfc;
    box-shadow: 5px 5px 9px 3px rgba(0,0,0,0.75);
    -webkit-box-shadow: 5px 5px 9px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 5px 9px 3px rgba(0,0,0,0.75);
}
a[href="#"]{
    background-color: #068321;
    color: #fdfcfc;
}

.piedebunner{
    color: rgb(255, 255, 255);
    background-color: rgb(196, 10, 10);
    border: 2px solid black;
    text-align: center;
    font-size: 30px;


}
.nav3{
    display: inline-block;
}

.bunner4{
    display: block;
    border:1px solid black;
    width: 100%;
    height: 300px;
    object-fit: cover;

}
.imgycontent{
    display: flex;
    gap:20px;
}
.imgs{
    width: 300px;
    bottom: 10px;
}
.logo{
    width: 100px;
    display: inline-block;
}
.pcontact{
    height: fit-content;
    font-size:20px;
    position:relative;
    top: 90px;
}   
.img3{
    width: 400px;
}
.nav3 a:hover{
    background-color: #068321;
    color: #fdfcfc;
    transform: scale(0.90);
    box-shadow: 10px 10px 6px -2px rgba(255,255,255,0.67);
-webkit-box-shadow: 10px 10px 6px -2px rgba(255,255,255,0.67);
-moz-box-shadow: 10px 10px 6px -2px rgba(255,255,255,0.67);
}